/* 38pxは余白の幅 */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #fffffe;
	color: #333;
	font-family: "Meiryo UI", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", roboto, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
}

input:focus,
textarea:focus {
	border: 1px solid transparent;
	box-shadow: none;
	outline: none;
}

textarea {
	resize: none;
}

input[type="submit"] {
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	border: none;
	outline: none;
}

input[type="submit"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
}

input[type="radio"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid transparent;
	border-radius: 50%;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

input[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="radio"] + span:focus,
input[type="radio"] + span:checked {
	background: #333;
	border: 1px solid #fff;
	box-shadow: none;
	outline: none;
}

input[type="radio"]:checked + span::after {
	-webkit-transform: translateY(-50%);
	background: #333;
	border-radius: 50%;
	content: "";
	display: block;
	height: 0.6em;
	left: 0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.6em;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
	transition: all 0.3s ease 0s;
}

input[type="checkbox"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid transparent;
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

input[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 3px solid #333;
	border-left: 3px solid #333;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 1em;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 8px 24px 8px 8px;
	width: 100%;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border: 1px solid transparent;
	box-shadow: none;
	outline: none;
}

.archive-title {
	font-size: 24px;
	font-weight: 700;
}

.archive-description {
	color: #666;
	font-size: 14px;
}

.inner {
	margin: 0 auto;
	max-width: 100%;
	padding: 80px 0;
	width: 1180px;
}

#content > .inner {
	display: flex;
}

#primary {
	width: 71.18644%;
}

#secondary {
	margin-left: auto;
	width: 25.59322%;
}

.drawer {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 40;
}

#drawer-check {
	display: none;
}

.drawer-open {
	background: #efa336;
	cursor: pointer;
	display: inline-block;
	height: 60px;
	position: relative;
	transition: 0.5s ease-in-out;
	vertical-align: middle;
	width: 60px;
	z-index: 41;
}

.drawer-open span {
	background: #fff;
	border-radius: 3px;
	display: block;
	height: 4px;
	left: 50%;
	margin: -2px 0 0 -14px;
	position: absolute;
	top: 50%;
	transition: 0.5s ease-in-out;
	width: 28px;
}

.drawer-open span::before,
.drawer-open span::after {
	-webkit-transform: rotate(0);
	background: #fff;
	border-radius: 3px;
	content: "";
	cursor: pointer;
	display: block;
	height: 100%;
	left: 50%;
	margin: -2px 0 0 -50%;
	position: absolute;
	top: 50%;
	transform: rotate(0);
	transition: 0.5s ease-in-out;
	width: 100%;
}

.drawer-open span::before {
	-webkit-transform: rotate(0);
	margin-top: -10px;
	transform: rotate(0);
}

.drawer-open span::after {
	-webkit-transform: rotate(0);
	margin-top: 6px;
	transform: rotate(0);
}

.drawer-open.m_checked span {
	background: rgba(255, 255, 255, 0);
}

.drawer-open.m_checked span::before,
.drawer-open.m_checked span::after {
	background: #fff;
	border-radius: 3px;
	content: "";
	display: block;
	height: 4px;
	left: 50%;
	margin: -2px 0 0 -14px;
	position: absolute;
	top: 50%;
	width: 28px;
}

.drawer-open.m_checked span::before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.drawer-open.m_checked span::after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.drawer-close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: 0.3s ease-in-out;
	width: 100%;
	z-index: 39;
}

.drawer-close.m_checked {
	display: block;
	opacity: 0.4;
}

.drawer-content {
	-webkit-transform: translateX(105%);
	background: #fff;
	height: 100%;
	max-width: 90%;
	overflow: auto;
	padding-top: 60px;
	position: fixed;
	right: 0;
	text-align: left;
	top: 0;
	transform: translateX(105%);
	transition: 0.5s ease-in-out;
	width: 250px;
	z-index: 40;
}

.drawer-content .drawer-title {
	font-size: 1em;
	font-weight: 700;
	padding: 0 34px;
	text-align: center;
}

.drawer-content.m_checked {
	-webkit-transform: translateX(0);
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	transform: translateX(0);
}

.drawer-nav li a {
	border-left: 6px solid transparent;
	color: #333;
	display: block;
	font-size: 16px;
	padding: 16px;
	text-decoration: none;
}

.drawer-nav li a span {
	color: #efa336;
	font-size: 14px;
	margin-left: 12px;
}

.drawer-nav li a:hover {
	border-left: 6px solid #e65100;
}

.entries {
	margin-top: 32px;
}

.entry-item {
	background: #fff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	display: flex;
	margin-bottom: 32px;
	padding: 24px 12px;
}

.entry-item:last-child {
	margin-bottom: 0;
}

.entry-item-img {
	padding: 0 12px;
	text-align: center;
	width: 30%;
}

.entry-item-img a {
	transition: all 0.3s ease 0s;
}

.entry-item-img a:hover {
	opacity: 0.6;
}

.entry-item-body {
	padding: 0 12px;
	width: 70%;
}

.entry-item-meta {
	align-items: center;
	display: flex;
	margin-bottom: 8px;
}

.entry-item-published {
	color: #666;
	font-size: 14px;
}

.entry-item-tag {
	margin-left: auto;
}

.entry-item-tag a {
	background: #333;
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 4px 8px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-item-tag a:hover {
	opacity: 0.6;
}

.entry-item-title {
	margin-bottom: 4px;
}

.entry-item-title a {
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-item-title a:hover {
	opacity: 0.6;
}

.entry-item-excerpt {
	color: #666;
	font-size: 14px;
}

.entry {
	background: #fff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	margin-bottom: 32px;
	padding: 24px;
}

.entry-header {
	margin-bottom: 8px;
}

.entry-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 16px;
}

.entry-meta {
	align-items: center;
	display: flex;
	margin-bottom: 12px;
}

.entry-published {
	color: #666;
	font-size: 14px;
}

.entry-tag {
	margin-left: auto;
}

.entry-tag a {
	background: #333;
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 4px 8px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-tag a:hover {
	opacity: 0.6;
}

.entry-img {
	text-align: center;
}

.entry-body {
	margin-top: 32px;
}

.entry-body h2 {
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.entry-body h3 {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 1em;
	margin-top: 3em;
}

.entry-body h4 {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.entry-body h5 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.entry-body h6 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.entry-body p {
	line-height: 1.6;
	margin-top: 1.2em;
}

.entry-body ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.entry-body ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.entry-body li {
	line-height: 1.6;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}

.entry-body blockquote {
	background: #eee;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}

.entry-body blockquote > :first-child {
	margin-top: 0;
}

.entry-body blockquote > :last-child {
	margin-bottom: 0;
}

.entry-body q {
	background: #eee;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

.entry-body strong {
	font-weight: 700;
}

.entry-body b {
	font-weight: 700;
}

.entry-body a {
	text-decoration: underline;
	transition: all 0.3s ease 0s;
}

.entry-body a:hover {
	opacity: 0.6;
}

.entry-body img {
	vertical-align: middle;
}

.entry-links {
	margin-top: 32px;
	text-align: center;
}

.entry-links .post-page-numbers {
	background: #fff;
	border: 1px solid #666;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 8px;
	margin-right: 8px;
	min-width: 30px;
	text-align: center;
}

.entry-links .post-page-numbers.current {
	background: #666;
	color: #fff;
}

.entry-links .post-page-numbers:first-child {
	margin-left: 0;
}

.entry-links .post-page-numbers:last-child {
	margin-right: 0;
}

.entry-links a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-links a:hover {
	background: #666;
	color: #fff;
}

.entry-pager {
	display: flex;
}

.entry-prev {
	padding: 4px;
	text-align: right;
	width: 50%;
}

.entry-prev a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-prev a:hover {
	opacity: 0.6;
}

.entry-next {
	padding: 4px;
	width: 50%;
}

.entry-next a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-next a:hover {
	opacity: 0.6;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-item {
	margin-bottom: 8px;
	padding: 4px;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11111%;
}

.pagenation {
	margin-top: 32px;
	text-align: center;
}

.pagenation a {
	transition: all 0.3s ease 0s;
}

.pagenation a:hover {
	background: #666;
	color: #fff;
}

.pagenation a.next:hover,
.pagenation a.prev:hover {
	background: #fff;
	color: #666;
	opacity: 0.6;
}

.page-numbers {
	background: #fff;
	border: 1px solid #666;
	color: #666;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-right: 8px;
	min-width: 30px;
	text-align: center;
	text-decoration: none;
}

.page-numbers:last-child {
	margin-right: 0;
}

.page-numbers.current {
	background: #666;
	color: #fff;
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
	border: none;
}

.wp-caption {
	max-width: 100%;
}

.wp-caption a {
	transition: all 0.3s ease 0s;
}

.wp-caption a:hover {
	opacity: 0.6;
}

.wp-caption-text {
	font-size: 14px;
	margin-top: 4px;
}

.widget_archive select {
	background: transparent url(../img/arrow.svg) no-repeat center right 8px/12px 8px;
}

.widget {
	margin-bottom: 32px;
}

.widget ul {
	font-size: 16px;
	padding: 0 8px;
}

.widget li {
	font-size: inherit;
	margin-bottom: 8px;
}

.widget li a {
	display: inline-block;
	font-size: inherit;
	text-decoration: none;
}

.widget li a:hover {
	opacity: 0.6;
}

.widget li ul {
	font-size: 0.85em;
	margin-top: 8px;
}

.widget-title {
	background: #666;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 12px;
	padding: 8px 16px;
}

#wp-calendar caption {
	margin-bottom: 4px;
}

#wp-calendar th,
#wp-calendar td {
	text-align: center;
}

#wp-calendar #prev {
	text-align: left;
}

#wp-calendar #next {
	text-align: right;
}

#wp-calendar a {
	color: #efa336;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

#wp-calendar a:hover {
	opacity: 0.6;
}

.widget_categories select {
	background: transparent url(../img/arrow.svg) no-repeat center right 8px/12px 8px;
}

.gallery-item {
	padding: 0 4px;
	text-align: center;
}

.gallery-item a {
	transition: all 0.3s ease 0s;
}

.gallery-item a:hover {
	opacity: 0.6;
}

.gallery-caption {
	font-size: 14px;
	margin-top: 4px;
}

.gallery-columns-3 {
	display: flex;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333333%;
}

.widget_meta abbr {
	text-decoration: none;
}

.post-date {
	color: #666;
	display: block;
	font-size: 14px;
}

.widget_rss cite {
	color: #666;
	font-size: 14px;
}

.rss-widget-icon {
	margin-top: -4px;
	vertical-align: middle;
}

.rsswidget {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
}

.rsswidget:hover {
	opacity: 0.6;
}

.rss-date {
	color: #666;
	font-size: 14px;
}

.rssSummary {
	color: #666;
	font-size: 14px;
}

.search-form {
	position: relative;
}

.screen-reader-text {
	position: absolute;
	top: 0;
	z-index: -1;
}

.search-field {
	width: 100%;
}

.search-submit {
	-webkit-transform: translateY(-50%);
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.tagcloud {
	padding: 4px;
}

.tag-cloud-link {
	transition: all 0.3s ease 0s;
}

.tag-cloud-link:hover {
	opacity: 0.6;
}

#footer-menu > .inner {
	padding-bottom: 32px;
	padding-top: 32px;
}

.footer-nav {
	text-align: center;
}

.footer-nav li {
	display: inline-block;
	padding: 0 4px;
	text-decoration: none;
}

.footer-nav li a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer-nav li a:hover {
	opacity: 0.6;
}

#footer {
	background: #666;
}

#footer > .inner {
	padding-bottom: 0;
	padding-top: 0;
}

.copy {
	color: #fff;
	font-size: 14px;
	padding: 8px;
}

.copy a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.copy a:hover {
	opacity: 0.6;
}

#header {
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
	position: fixed;
	width: 100%;
	z-index: 20;
}

#header > .inner {
	align-items: center;
	display: flex;
	height: 80px;
	padding-bottom: 0;
	padding-top: 0;
}

.header-logo {
	margin-right: auto;
}

.header-logo a {
	transition: all 0.3s ease 0s;
}

.header-logo a:hover {
	opacity: 0.6;
}

.header-logo img {
	width: 200px;
}

.header-nav ul {
	font-size: 0;
}

.header-nav li {
	display: inline-block;
	margin-right: 16px;
}

.header-nav li:last-child {
	margin-right: 0;
}

.header-nav li > a {
	color: #333;
	display: block;
	font-size: 16px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.header-nav li > a:hover {
	opacity: 0.6;
}

#mv {
	background: transparent url(../img/mv.png) no-repeat top center/cover;
}

#mv > .inner {
	height: 600px;
	padding-bottom: 0;
	padding-top: 0;
}

@media screen and (max-width: 1179px) {

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

}

@media screen and (max-width: 767px) {

.inner {
	padding-left: 12px;
	padding-right: 12px;
}

#content > .inner {
	display: block;
}

#primary {
	margin-bottom: 32px;
	width: 100%;
}

#secondary {
	width: 100%;
}

.drawer {
	display: block;
}

.header-nav {
	display: none;
}

#mv > .inner {
	height: 400px;
}

}

