@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

/* 38pxは余白の幅 */

[data-target] {
	cursor: pointer;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fffffe;
	color: #333;
	font-family: "Meiryo UI", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Noto Sans Japanese", roboto, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video {
	height: auto;
	max-width: 100%;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

form {
	margin: 0;
	padding: 0;
}

[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-family: inherit;
	font-size: 1em;
	padding: 8px;
}

[type="text"]:hover,
[type="search"]:hover,
[type="tel"]:hover,
[type="url"]:hover,
[type="email"]:hover,
[type="password"]:hover,
textarea:hover {
	outline: none;
}

[type="text"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="url"]:focus,
[type="email"]:focus,
[type="password"]:focus,
textarea:focus {
	border-color: #ccc;
}

[type="text"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="url"]:focus,
[type="email"]:focus,
[type="password"]:focus,
textarea:focus {
	box-shadow: none;
	outline: none;
}

[type="text"] ::-moz-focus-inner,
[type="search"] ::-moz-focus-inner,
[type="tel"] ::-moz-focus-inner,
[type="url"] ::-moz-focus-inner,
[type="email"] ::-moz-focus-inner,
[type="password"] ::-moz-focus-inner,
textarea ::-moz-focus-inner {
	border: none;
	padding: 0;
}

button,
[type="button"],
[type="submit"] {
	-webkit-appearance: none;
	background-color: #666;
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
	width: auto;
}

button:hover,
[type="button"]:hover,
[type="submit"]:hover {
	opacity: 0.6;
	outline: none;
}

button:focus,
[type="button"]:focus,
[type="submit"]:focus {
	outline: none;
}

button ::-moz-focus-inner,
[type="button"] ::-moz-focus-inner,
[type="submit"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

[type="radio"] {
	display: none;
}

[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
}

[type="radio"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

[type="radio"]:checked + span::after {
	background: #ccc;
	border-radius: 50%;
	content: "";
	display: block;
	height: 10px;
	left: 8px;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

[type="checkbox"] {
	display: none;
}

[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
	transition: all 1s ease 0s;
}

[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

[type="checkbox"]:checked + span::after {
	border-bottom: 4px solid #666;
	border-left: 4px solid #666;
	content: "";
	display: block;
	height: 15.6px;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 26px;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url(../img/arrow.svg);
	background-position: right 6px center;
	background-repeat: no-repeat;
	background-size: 24px;
	border: 1px solid #ccc;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 2.4em 0.4em 0.8em;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border-color: #ccc;
	box-shadow: none;
	outline: none;
}

.wp-caption {
	max-width: 100%;
}

.wp-caption a {
	transition: all 0.3s ease 0s;
}

.wp-caption a:hover {
	opacity: 0.6;
}

.wp-caption-text {
	font-size: 14px;
	margin-top: 4px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-item {
	margin-bottom: 8px;
	padding: 4px;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11111%;
}

.pagenation {
	margin-top: 32px;
	text-align: center;
}

.pagenation a {
	transition: color, background 0.3s ease 0s;
}

.pagenation a:hover {
	background: #666;
	color: #fff;
}

.pagenation a.next:hover,
.pagenation a.prev:hover {
	background: #fff;
	color: #666;
	opacity: 0.6;
}

.page-numbers {
	background: #fff;
	border: 1px solid #666;
	color: #666;
	display: inline-block;
	height: 30px;
	line-height: 28px;
	margin-right: 8px;
	min-width: 30px;
	text-align: center;
	text-decoration: none;
}

.page-numbers:last-child {
	margin-right: 0;
}

.page-numbers.current {
	background: #666;
	color: #fff;
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
	border: none;
}

.widget_archive select {
	background: transparent url(../img/arrow.svg) no-repeat center right 8px/12px 8px;
}

.widget {
	margin-bottom: 46px;
}

.widget:last-child {
	margin-bottom: 0;
}

.widget ul {
	font-size: 16px;
	padding: 0 8px;
}

.widget li {
	font-size: inherit;
	margin-bottom: 12px;
}

.widget li a {
	display: inline-block;
	font-size: inherit;
	text-decoration: none;
}

.widget li a:hover {
	opacity: 0.6;
}

.widget li ul {
	font-size: 0.85em;
	margin-top: 12px;
}

.widget-title {
	background: transparent;
	border-bottom: 1px solid #666;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 12px;
	padding: 8px 6px;
}

#wp-calendar caption {
	margin-bottom: 4px;
}

#wp-calendar th,
#wp-calendar td {
	text-align: center;
}

#wp-calendar #prev {
	text-align: left;
}

#wp-calendar #next {
	text-align: right;
}

#wp-calendar a {
	color: #666;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

#wp-calendar a:hover {
	opacity: 0.6;
}

.widget_categories select {
	background: transparent url(../img/arrow.svg) no-repeat center right 8px/12px 8px;
}

.gallery-item {
	padding: 0 4px;
	text-align: center;
}

.gallery-item a {
	transition: opacity 0.3s ease 0s;
}

.gallery-item a:hover {
	opacity: 0.6;
}

.gallery-caption {
	font-size: 14px;
	margin-top: 4px;
}

.gallery-columns-3 {
	display: flex;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333333%;
}

.widget_meta abbr {
	text-decoration: none;
}

.post-date {
	color: #666;
	display: block;
	font-size: 14px;
}

.widget_rss cite {
	color: #666;
	font-size: 14px;
}

.rss-widget-icon {
	margin-top: -4px;
	vertical-align: middle;
}

.rsswidget {
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
	vertical-align: middle;
}

.rsswidget:hover {
	opacity: 0.6;
}

.rss-date {
	color: #666;
	font-size: 14px;
}

.rssSummary {
	color: #666;
	font-size: 14px;
}

.search-form {
	position: relative;
}

.screen-reader-text {
	position: absolute;
	top: 0;
	z-index: -1;
}

.search-field {
	width: 100%;
}

.search-submit {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.tagcloud {
	padding: 4px;
}

.tag-cloud-link {
	transition: opacity 0.3s ease 0s;
}

.tag-cloud-link:hover {
	opacity: 0.6;
}

.content {
	padding: 0;
}

.content--full > .inner {
	width: 100%;
}

.primary {
	width: 71.18644%;
}

.content--column-one .primary {
	width: 100%;
}

.secondary {
	margin-left: auto;
	width: 25.59322%;
}

.content--column-one .secondary {
	margin-top: 64px;
	width: 100%;
}

.inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	padding: 0;
	width: 1180px;
}

.row,
.row--middle {
	display: flex;
	flex-wrap: wrap;
	height: inherit;
}

.row--middle {
	align-items: center;
}

.breadcrumb {
	color: #666;
	font-size: 13px;
}

.breadcrumb ul {
	display: flex;
}

.breadcrumb li a {
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.breadcrumb li a:hover {
	opacity: 0.6;
}

.breadcrumb-bridge {
	padding: 0 8px;
}

.btn {
	-webkit-appearance: none;
	background-color: #424242;
	background-image: none;
	border: 2px solid #424242;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	height: 60px;
	letter-spacing: 0.04em;
	line-height: 58px;
	margin: 0;
	max-width: 100%;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	width: 300px;
}

.btn:not(:disabled) {
	cursor: pointer;
}

.btn:hover {
	outline: none;
}

.btn:focus {
	outline: none;
}

.btn::-moz-foucus-inner {
	border: none;
	padding: 0;
}

.drawer {
	z-index: 40;
}

.drawer-close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity 0.3s ease 0s;
	width: 100%;
	z-index: 39;
}

.drawer-close.is-checked {
	display: block;
	opacity: 0.4;
}

.drawer-icon {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-align: center;
	z-index: 41;
}

.drawer-icon::after {
	color: #424242;
	content: "MENU";
	display: none;
	font-size: 0.8rem;
	font-weight: 700;
	line-height: 1;
	margin-top: 4px;
	text-align: center;
}

.drawer-icon.is-checked::after {
	content: "CLOSE";
}

.drawer-bars {
	display: inline-block;
	height: 19px;
	position: relative;
	vertical-align: bottom;
	width: 25px;
}

.drawer-bar {
	background: #424242;
	border-radius: 3px;
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.drawer-bar:nth-of-type(1) {
	top: 0;
}

.drawer-bar:nth-of-type(2) {
	top: 8px;
}

.drawer-bar:nth-of-type(3) {
	top: 16px;
}

.is-checked .drawer-bar:nth-of-type(1) {
	top: 10px;
	transform: rotate(-45deg);
}

.is-checked .drawer-bar:nth-of-type(2) {
	background: transparent;
}

.is-checked .drawer-bar:nth-of-type(3) {
	top: 10px;
	transform: rotate(45deg);
}

.drawer-content {
	background: #fff;
	bottom: auto;
	color: #424242;
	height: 100%;
	left: auto;
	max-width: 90%;
	overflow: auto;
	padding-top: 60px;
	position: fixed;
	right: 0;
	text-align: left;
	top: 0;
	transform: translateX(105%);
	transition: all 0.5s ease 0s;
	width: 200px;
	z-index: 40;
}

.drawer-content.is-checked {
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	transform: translateX(0);
}

.drawer-content--left {
	left: 0;
	right: auto;
	transform: translateX(-105%);
}

.drawer-content--top {
	bottom: auto;
	height: 100%;
	max-width: 100%;
	top: 0;
	transform: translateY(-105%);
	width: 100%;
}

.archive-title {
	font-size: 24px;
	font-weight: 700;
}

.archive-description {
	color: #666;
	font-size: 14px;
}

.entry-items {
	margin-top: 32px;
}

.entry-item {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.16);
	display: flex;
	margin-bottom: 32px;
	padding: 24px 12px;
}

.entry-item:last-child {
	margin-bottom: 0;
}

.entry-item-img {
	padding: 0 12px;
	text-align: center;
	width: 30%;
}

.entry-item-img a {
	display: block;
	padding-top: 71.42857%;
	position: relative;
	transition: opacity 0.3s ease 0s;
}

.entry-item-img a:hover {
	opacity: 0.6;
}

.entry-item-img img {
	-o-object-fit: cover;
	font-family: "object-fit: cover;";
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.entry-item-body {
	padding: 0 12px;
	width: 70%;
}

.entry-item-meta {
	align-items: center;
	display: flex;
	margin-bottom: 8px;
}

.entry-item-published {
	color: #666;
	font-size: 14px;
}

.entry-item-tag {
	margin-left: auto;
}

.entry-item-tag a {
	background: #333;
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 4px 8px;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.entry-item-tag a:hover {
	opacity: 0.6;
}

.entry-item-title {
	margin-bottom: 4px;
}

.entry-item-title a {
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.entry-item-title a:hover {
	opacity: 0.6;
}

.entry-item-excerpt {
	color: #666;
	font-size: 14px;
}

.entry-items--horizon02 {
	display: flex;
	flex-wrap: wrap;
}

.entry-items--horizon02 .entry-item {
	display: block;
	margin-right: 32px;
	width: calc(50% - 32px / 1);
}

.entry-items--horizon02 .entry-item:nth-child(2n) {
	margin-right: 0;
}

.entry-items--horizon02 .entry-item:last-child {
	margin-bottom: 32px;
}

.entry-items--horizon02 .entry-item-img {
	width: 100%;
}

.entry-items--horizon02 .entry-item-body {
	margin-top: 20px;
	width: 100%;
}

.entry-items--horizon03 {
	display: flex;
	flex-wrap: wrap;
}

.entry-items--horizon03 .entry-item {
	display: block;
	margin-right: 28px;
	width: calc(33.33333333% - 28px * 3 / 2);
}

.entry-items--horizon03 .entry-item:nth-child(3n) {
	margin-right: 0;
}

.entry-items--horizon03 .entry-item:last-child {
	margin-bottom: 32px;
}

.entry-items--horizon03 .entry-item-img {
	width: 100%;
}

.entry-items--horizon03 .entry-item-body {
	margin-top: 20px;
	width: 100%;
}

.entry-items--horizon04 {
	display: flex;
	flex-wrap: wrap;
}

.entry-items--horizon04 .entry-item {
	display: block;
	margin-right: 28px;
	width: calc(25% - 20px * 4 / 3);
}

.entry-items--horizon04 .entry-item:nth-child(4n) {
	margin-right: 0;
}

.entry-items--horizon04 .entry-item:last-child {
	margin-bottom: 32px;
}

.entry-items--horizon04 .entry-item-img {
	width: 100%;
}

.entry-items--horizon04 .entry-item-body {
	margin-top: 20px;
	width: 100%;
}

.entry {
	background: #fff;
}

.entry-header {
	margin-bottom: 8px;
}

.entry-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 16px;
}

.entry-meta {
	align-items: center;
	display: flex;
	margin-bottom: 12px;
}

.entry-published {
	color: #666;
	font-size: 13px;
}

.entry-tag {
	margin-left: auto;
}

.entry-tag a {
	background: #333;
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 4px 8px;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.entry-tag a:hover {
	opacity: 0.6;
}

.entry-img {
	text-align: center;
}

.entry-body {
	margin-top: 32px;
}

.entry-body h2 + p,
.entry-body h3 + p,
.entry-body h4 + p,
.entry-body h5 + p,
.entry-body h6 + p {
	margin-top: 0;
}

.entry-body h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.entry-body h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 1em;
	margin-top: 3em;
}

.entry-body h4 {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.entry-body h5 {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.entry-body h6 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.entry-body p {
	line-height: 1.6;
	margin-top: 1.2em;
}

.entry-body ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.entry-body ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.entry-body li {
	line-height: 1.6;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}

.entry-body blockquote {
	background: #eee;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}

.entry-body blockquote > :first-child {
	margin-top: 0;
}

.entry-body blockquote > :last-child {
	margin-bottom: 0;
}

.entry-body q {
	background: #eee;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

.entry-body strong,
.entry-body em,
.entry-body b {
	font-weight: 700;
}

.entry-body a {
	text-decoration: underline;
	transition: opacity 0.3s ease 0s;
}

.entry-body a:hover {
	opacity: 0.6;
}

.entry-body img {
	vertical-align: middle;
}

.entry-body dl {
	margin-top: 1em;
}

.entry-body dt {
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 0.8em;
}

.entry-body var,
.entry-body code,
.entry-body kbd {
	background: #fee;
	color: #666;
	display: inline-block;
	font-style: normal;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: baseline;
}

.entry-body pre {
	margin-top: 1.2em;
	overflow: auto;
	padding: 1em;
	white-space: pre;
}

.entry-body pre code {
	background: #2d2d2d;
	color: #fff;
	margin: -1em;
	padding: 12px;
	position: relative;
}

.entry-links {
	margin-top: 32px;
	text-align: center;
}

.entry-links .post-page-numbers {
	background: #fff;
	border: 1px solid #666;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 8px;
	margin-right: 8px;
	min-width: 30px;
	text-align: center;
}

.entry-links .post-page-numbers.current {
	background: #666;
	color: #fff;
}

.entry-links .post-page-numbers:first-child {
	margin-left: 0;
}

.entry-links .post-page-numbers:last-child {
	margin-right: 0;
}

.entry-links a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-links a:hover {
	background: #666;
	color: #fff;
}

.entry-pager {
	display: flex;
}

.entry-prev {
	padding: 4px;
	width: 50%;
}

.entry-prev a {
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.entry-prev a:hover {
	opacity: 0.6;
}

.entry-next {
	padding: 4px;
	text-align: right;
	width: 50%;
}

.entry-next a {
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.entry-next a:hover {
	opacity: 0.6;
}

input[type="submit"].search-submit {
	padding-left: 1em;
	padding-right: 1em;
}

.totop {
	bottom: 30px;
	opacity: 0;
	position: fixed;
	right: 0;
	transition: opacity 0.3s ease 0s;
	z-index: 30;
}

[data-scroll="true"] .totop {
	opacity: 1;
}

.totop a {
	align-items: center;
	background: #666;
	color: #fff;
	display: flex;
	font-size: 14px;
	height: 42px;
	justify-content: center;
	text-decoration: none;
	width: 42px;
}

.footer-menu {
	padding-bottom: 32px;
	padding-top: 32px;
}

.footer-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-nav li {
	margin-bottom: 4px;
	margin-right: 42px;
}

.footer-nav li:last-child {
	margin-right: 0;
}

.footer-nav li a {
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.footer-nav li a:hover {
	opacity: 0.6;
}

.footer {
	background: #666;
}

.footer-copy {
	color: #fff;
	font-size: 14px;
	padding: 8px;
}

.footer-copy a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer-copy a:hover {
	opacity: 0.6;
}

.header {
	background: #fff;
	height: 80px;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 20;
}

.header-logo {
	margin-right: auto;
}

.header-logo a {
	transition: all 0.3s ease 0s;
}

.header-logo a:hover {
	opacity: 0.6;
}

.header-logo img {
	width: 200px;
}

.header-nav ul {
	align-items: center;
	display: flex;
}

.header-nav li {
	margin-right: 46px;
}

.header-nav li:last-child {
	margin-right: 0;
}

.header-nav li > a {
	color: #333;
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.header-nav li > a:hover {
	opacity: 0.6;
}

.header-drawer {
	display: none;
}

@media (min-width: 768px) and (max-width: 1179px) {

.hidden-tab {
	display: none;
}

}

@media screen and (min-width: 1180px) {

.hidden-pc {
	display: none;
}

}

@media screen and (max-width: 1179px) {

.content--full > .inner {
	padding-left: 0;
	padding-right: 0;
}

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

}

@media screen and (max-width: 767px) {

.content--full > .inner {
	padding-left: 0;
	padding-right: 0;
}

.primary {
	width: 100%;
}

.secondary {
	margin-top: 64px;
	width: 100%;
}

.inner {
	padding-left: 16px;
	padding-right: 16px;
}

.entry-item {
	display: block;
}

.entry-item-img {
	width: 100%;
}

.entry-item-body {
	margin-top: 20px;
	width: 100%;
}

.totop a {
	font-size: 12px;
	height: 30px;
	width: 30px;
}

.header {
	height: 60px;
}

.header-nav {
	display: none;
}

.header-drawer {
	display: block;
}

.hidden-sp {
	display: none;
}

}

