@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

/* 38pxは余白の幅 */

[data-target] {
	cursor: pointer;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fffffe;
	color: #333;
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video {
	height: auto;
	max-width: 100%;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

form {
	margin: 0;
	padding: 0;
}

[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-family: inherit;
	font-size: 1em;
	padding: 8px;
}

[type="text"]:hover,
[type="search"]:hover,
[type="tel"]:hover,
[type="url"]:hover,
[type="email"]:hover,
[type="password"]:hover,
textarea:hover {
	outline: none;
}

[type="text"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="url"]:focus,
[type="email"]:focus,
[type="password"]:focus,
textarea:focus {
	border-color: #ccc;
}

[type="text"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="url"]:focus,
[type="email"]:focus,
[type="password"]:focus,
textarea:focus {
	box-shadow: none;
	outline: none;
}

[type="text"] ::-moz-focus-inner,
[type="search"] ::-moz-focus-inner,
[type="tel"] ::-moz-focus-inner,
[type="url"] ::-moz-focus-inner,
[type="email"] ::-moz-focus-inner,
[type="password"] ::-moz-focus-inner,
textarea ::-moz-focus-inner {
	border: none;
	padding: 0;
}

button,
[type="button"],
[type="submit"] {
	-webkit-appearance: none;
	background-color: #666;
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
	width: auto;
}

button:hover,
[type="button"]:hover,
[type="submit"]:hover {
	opacity: 0.6;
	outline: none;
}

button:focus,
[type="button"]:focus,
[type="submit"]:focus {
	outline: none;
}

button ::-moz-focus-inner,
[type="button"] ::-moz-focus-inner,
[type="submit"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

[type="radio"] {
	display: none;
}

[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
}

[type="radio"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

[type="radio"]:checked + span::after {
	background: #ccc;
	border-radius: 50%;
	content: "";
	display: block;
	height: 10px;
	left: 8px;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

[type="checkbox"] {
	display: none;
}

[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
	transition: all 1s ease 0s;
}

[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

[type="checkbox"]:checked + span::after {
	border-bottom: 4px solid #666;
	border-left: 4px solid #666;
	content: "";
	display: block;
	height: 15.6px;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 26px;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url(../img/arrow.svg);
	background-position: right 6px center;
	background-repeat: no-repeat;
	background-size: 24px;
	border: 1px solid #ccc;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 2.4em 0.4em 0.8em;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border-color: #ccc;
	box-shadow: none;
	outline: none;
}

.wp-block-image figcaption {
	font-size: 13px;
}

.wp-caption {
	max-width: 100%;
}

.wp-caption a {
	transition: all 0.3s ease 0s;
}

.wp-caption a:hover {
	opacity: 0.6;
}

.wp-caption-text {
	font-size: 14px;
	margin-top: 4px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-item {
	margin-bottom: 8px;
	padding: 4px;
}

.gallery-icon a {
	text-decoration: none;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11111%;
}

.widget_archive select {
	background: transparent url(../img/arrow.svg) no-repeat center right 8px/12px 8px;
}

.p-widget {
	margin-bottom: 46px;
}

.p-widget:last-child {
	margin-bottom: 0;
}

.p-widget ul {
	font-size: 16px;
	padding: 0 8px;
}

.p-widget li {
	font-size: inherit;
	margin-bottom: 12px;
}

.p-widget li a {
	display: inline-block;
	font-size: inherit;
	text-decoration: none;
}

.p-widget li a:hover {
	opacity: 0.6;
}

.p-widget li ul {
	font-size: 0.85em;
	margin-top: 12px;
}

.p-widget__title {
	background: transparent;
	border-bottom: 1px solid #666;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 12px;
	padding: 8px 6px;
}

#wp-calendar caption {
	margin-bottom: 4px;
}

#wp-calendar th,
#wp-calendar td {
	text-align: center;
}

#wp-calendar #prev {
	text-align: left;
}

#wp-calendar #next {
	text-align: right;
}

#wp-calendar a {
	color: #666;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

#wp-calendar a:hover {
	opacity: 0.6;
}

.widget_categories select {
	background: transparent url(../img/arrow.svg) no-repeat center right 8px/12px 8px;
}

.gallery-item {
	padding: 0 4px;
	text-align: center;
}

.gallery-item a {
	transition: opacity 0.3s ease 0s;
}

.gallery-item a:hover {
	opacity: 0.6;
}

.gallery-caption {
	font-size: 14px;
	margin-top: 4px;
}

.gallery-columns-3 {
	display: flex;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333333%;
}

.widget_meta abbr {
	text-decoration: none;
}

.post-date {
	color: #666;
	display: block;
	font-size: 14px;
}

.widget_rss cite {
	color: #666;
	font-size: 14px;
}

.rss-widget-icon {
	margin-top: -4px;
	vertical-align: middle;
}

.rsswidget {
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
	vertical-align: middle;
}

.rsswidget:hover {
	opacity: 0.6;
}

.rss-date {
	color: #666;
	font-size: 14px;
}

.rssSummary {
	color: #666;
	font-size: 14px;
}

.search-form {
	position: relative;
}

.screen-reader-text {
	position: absolute;
	top: 0;
	z-index: -1;
}

.search-field {
	width: 100%;
}

.search-submit {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.tagcloud {
	padding: 4px;
}

.tag-cloud-link {
	transition: opacity 0.3s ease 0s;
}

.tag-cloud-link:hover {
	opacity: 0.6;
}

.p-content {
	padding: 0;
}

.p-content--full > .l-inner {
	width: 100%;
}

.p-content__row {
	display: flex;
	flex-wrap: wrap;
	height: inherit;
}

.l-primary {
	width: 71.18644%;
}

.p-content--column-one .l-primary {
	width: 100%;
}

.l-secondary {
	margin-left: auto;
	width: 25.59322%;
}

.p-content--column-one .l-secondary {
	margin-top: 64px;
	width: 100%;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	padding: 0;
	width: 1180px;
}

.row,
.row--middle {
	display: flex;
	flex-wrap: wrap;
	height: inherit;
}

.row--middle {
	align-items: center;
}

.p-breadcrumb {
	color: #666;
	font-size: 13px;
	overflow: auto;
}

.p-breadcrumb ul {
	display: flex;
}

.p-breadcrumb ul li a {
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.p-breadcrumb ul li a:hover {
	opacity: 0.6;
}

.p-breadcrumb__bridge {
	padding: 0 8px;
}

.c-btn {
	-webkit-appearance: none;
	background-color: transparent;
	background-image: none;
	border: 2px solid #424242;
	border-radius: 0;
	color: #424242;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	height: auto;
	letter-spacing: normal;
	line-height: 1.4;
	margin: 0;
	max-width: 100%;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	width: 300px;
}

.c-btn:not(:disabled) {
	cursor: pointer;
}

.c-btn:hover {
	outline: none;
}

.c-btn:focus {
	outline: none;
}

.c-btn::-moz-foucus-inner {
	border: none;
	padding: 0;
}

.p-drawer {
	z-index: 40;
}

.p-drawer-close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity 0.3s ease 0s;
	width: 100%;
	z-index: 39;
}

.p-drawer-close.is-checked {
	display: block;
	opacity: 0.4;
}

.p-drawer-icon {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-align: center;
	z-index: 41;
}

.p-drawer-icon::after {
	color: #424242;
	content: "MENU";
	display: none;
	font-size: 0.8rem;
	font-weight: 700;
	line-height: 1;
	margin-top: 4px;
	text-align: center;
}

.p-drawer-icon.is-checked::after {
	content: "CLOSE";
}

.p-drawer-icon__bars {
	display: inline-block;
	height: 19px;
	position: relative;
	vertical-align: bottom;
	width: 25px;
}

.p-drawer-icon__bar {
	background: #424242;
	border-radius: 3px;
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.p-drawer-icon__bar:nth-of-type(1) {
	top: 0;
}

.p-drawer-icon__bar:nth-of-type(2) {
	top: 8px;
}

.p-drawer-icon__bar:nth-of-type(3) {
	top: 16px;
}

.is-checked .p-drawer-icon__bar:nth-of-type(1) {
	top: 10px;
	transform: rotate(-45deg);
}

.is-checked .p-drawer-icon__bar:nth-of-type(2) {
	background: transparent;
}

.is-checked .p-drawer-icon__bar:nth-of-type(3) {
	top: 10px;
	transform: rotate(45deg);
}

.p-drawer-content {
	background: #fff;
	bottom: auto;
	color: #424242;
	height: 100%;
	left: auto;
	max-width: 90%;
	overflow: auto;
	padding-top: 60px;
	position: fixed;
	right: 0;
	text-align: left;
	top: 0;
	transform: translateX(105%);
	transition: all 0.5s ease 0s;
	width: 200px;
	z-index: 40;
}

.p-drawer-content.is-checked {
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	transform: translateX(0);
}

.p-drawer-content--right {
	left: auto;
	right: 0;
	transform: translateX(105%);
}

.p-drawer-content--left {
	left: 0;
	right: auto;
	transform: translateX(-105%);
}

.p-drawer-content--top {
	bottom: auto;
	height: 100%;
	max-width: 100%;
	top: 0;
	transform: translateY(-105%);
	width: 100%;
}

.p-drawer-content--cover {
	bottom: auto;
	height: 100%;
	max-width: 100%;
	opacity: 0;
	top: 0;
	transform: translateX(0);
	transition: all 0.5s linear 0s;
	visibility: hidden;
	width: 100%;
}

.p-drawer-content--cover.is-checked {
	opacity: 1;
	visibility: visible;
}

.c-media {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.16);
	padding: 24px 12px;
}

.c-media--fit {
	display: flex;
	height: 100%;
	width: 100%;
}

.c-media__img {
	padding: 0;
	text-align: center;
	width: 30%;
}

.c-media__img > .c-media__img-in {
	padding-top: 71.42857%;
	position: relative;
}

.c-media__img > a {
	display: block;
	transition: opacity 0.3s ease 0s;
}

.c-media__img > a:hover {
	opacity: 0.6;
}

.c-media__img img {
	-o-object-fit: cover;
	font-family: "object-fit: cover;";
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.c-media__body {
	padding: 0 12px;
	width: 70%;
}

.c-media__meta {
	align-items: center;
	display: flex;
	margin-bottom: 8px;
}

.c-media__published {
	color: #666;
	font-size: 14px;
}

.c-media__label {
	margin-left: auto;
}

.c-media__label a {
	background: #333;
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 4px 8px;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.c-media__label a:hover {
	opacity: 0.6;
}

.c-media__title {
	line-height: 1.4;
	margin-bottom: 4px;
}

.c-media__title a {
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.c-media__title a:hover {
	opacity: 0.6;
}

.c-media__excerpt {
	color: #666;
	font-size: 14px;
}

.c-media--horizon01 {
	display: flex;
	flex-wrap: wrap;
}

.c-media--horizon01 .c-media__img {
	width: 30%;
}

.c-media--horizon01 .c-media__body {
	padding-left: 20px;
	width: 70%;
}

.c-media--horizon02 {
	display: flex;
	flex-wrap: wrap;
}

.c-media--horizon02 .c-media__img {
	width: 100%;
}

.c-media--horizon02 .c-media__body {
	margin-top: 20px;
	width: 100%;
}

.p-archive-head__title {
	font-size: 24px;
	font-weight: 700;
}

.p-archive-head__description {
	color: #666;
	font-size: 14px;
}

.p-entries {
	display: flex;
	flex-wrap: wrap;
	margin-top: 32px;
}

.p-entries__item.p-entries--column-one {
	margin-bottom: 32px;
	width: 100%;
}

.p-entries__item.p-entries--column-one:last-child {
	margin-bottom: 0;
}

.p-entries__item.p-entries--column-two {
	margin-bottom: 32px;
	margin-right: 32px;
	width: calc(50% - 32px / 1);
}

.p-entries__item.p-entries--column-two:nth-child(2n) {
	margin-right: 0;
}

.p-entries__item.p-entries--column-three {
	margin-bottom: 28px;
	margin-right: 28px;
	width: calc(33.33333333% - 28px * 3 / 2);
}

.p-entries__item.p-entries--column-three:nth-child(3n) {
	margin-right: 0;
}

.p-entries__item.p-entries--column-four {
	margin-bottom: 20px;
	margin-right: 20px;
	width: calc(25% - 20px * 4 / 3);
}

.p-entries__item.p-entries--column-four:nth-child(4n) {
	margin-right: 0;
}

.p-entry-content {
	overflow: hidden;
}

.p-entry-content > :first-child {
	margin-top: 0;
}

.p-entry-content > :last-child {
	margin-bottom: 0;
}

.p-entry-content h2 + p,
.p-entry-content h3 + p,
.p-entry-content h4 + p,
.p-entry-content h5 + p,
.p-entry-content h6 + p {
	margin-top: 0;
}

.p-entry-content h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.p-entry-content h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 1em;
	margin-top: 3em;
}

.p-entry-content h4 {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-entry-content h5 {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-entry-content h6 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-entry-content p {
	line-height: 1.6;
	margin-bottom: 0.8em;
	margin-top: 1.2em;
}

.p-entry-content ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.p-entry-content ul ul,
.p-entry-content ul ol {
	margin-bottom: 0;
}

.p-entry-content ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.p-entry-content ol ul,
.p-entry-content ol ol {
	margin-bottom: 0;
}

.p-entry-content li {
	line-height: 1.6;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}

.p-entry-content blockquote {
	background: #eee;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}

.p-entry-content blockquote > :first-child {
	margin-top: 0;
}

.p-entry-content blockquote > :last-child {
	margin-bottom: 0;
}

.p-entry-content q {
	background: #eee;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

.p-entry-content strong,
.p-entry-content em,
.p-entry-content b {
	font-style: normal;
	font-weight: 700;
}

.p-entry-content a {
	text-decoration: underline;
	transition: opacity 0.3s ease 0s;
}

.p-entry-content a:hover {
	opacity: 0.6;
}

.p-entry-content img {
	vertical-align: middle;
}

.p-entry-content dl {
	margin-top: 1em;
}

.p-entry-content dt {
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 0.8em;
}

.p-entry-content var,
.p-entry-content code,
.p-entry-content kbd {
	background: #fee;
	color: #666;
	display: inline-block;
	font-style: normal;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: baseline;
}

.p-entry-content pre {
	margin-top: 1.2em;
	overflow: auto;
	padding: 1em;
	white-space: pre;
}

.p-entry-content pre code {
	background: #2d2d2d;
	color: #fff;
	margin: -1em;
	padding: 12px;
	position: relative;
}

.p-entry-content iframe,
.p-entry-content video,
.p-entry-content object {
	max-width: 100%;
}

.p-entry-tags {
	display: flex;
	flex-wrap: wrap;
}

.p-entry-tags__item {
	margin-bottom: 4px;
	margin-right: 4px;
}

.p-entry-tags__item a {
	background: #ccc;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	padding: 2px 6px;
	text-decoration: none;
}

.p-entry {
	background: #fff;
}

.p-entry__header {
	margin-bottom: 8px;
}

.p-entry__title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 16px;
}

.p-entry__meta {
	align-items: center;
	display: flex;
	margin-bottom: 12px;
}

.p-entry__published {
	color: #666;
	font-size: 13px;
}

.p-entry__label {
	margin-left: auto;
}

.p-entry__label a {
	background: #333;
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 4px 8px;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.p-entry__label a:hover {
	opacity: 0.6;
}

.p-entry__img {
	text-align: center;
}

.p-entry__body {
	margin-top: 32px;
}

.p-entry__tags {
	border-top: 1px solid #ccc;
	margin-top: 32px;
	padding: 6px 2px;
}

.p-entry-links {
	margin-top: 32px;
	text-align: center;
}

.p-entry-links .post-page-numbers {
	background: #fff;
	border: 1px solid #666;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 8px;
	margin-right: 8px;
	min-width: 30px;
	text-align: center;
}

.p-entry-links .post-page-numbers.current {
	background: #666;
	color: #fff;
}

.p-entry-links .post-page-numbers:first-child {
	margin-left: 0;
}

.p-entry-links .post-page-numbers:last-child {
	margin-right: 0;
}

.p-entry-links a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-links a:hover {
	background: #666;
	color: #fff;
}

.p-entry-pager {
	display: flex;
}

.p-entry-pager__prev {
	padding: 4px;
	width: 50%;
}

.p-entry-pager__prev a {
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.p-entry-pager__prev a:hover {
	opacity: 0.6;
}

.p-entry-pager__next {
	padding: 4px;
	text-align: right;
	width: 50%;
}

.p-entry-pager__next a {
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.p-entry-pager__next a:hover {
	opacity: 0.6;
}

.p-pagenation {
	margin-top: 32px;
	text-align: center;
}

.p-pagenation a {
	transition: color, background 0.3s ease 0s;
}

.p-pagenation a:hover {
	background: #666;
	color: #fff;
}

.p-pagenation a.next:hover,
.p-pagenation a.prev:hover {
	background: #fff;
	color: #666;
	opacity: 0.6;
}

.page-numbers {
	background: #fff;
	border: 1px solid #666;
	color: #666;
	display: inline-block;
	height: 30px;
	line-height: 28px;
	margin-right: 8px;
	min-width: 30px;
	text-align: center;
	text-decoration: none;
}

.page-numbers:last-child {
	margin-right: 0;
}

.page-numbers.current {
	background: #666;
	color: #fff;
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
	border: none;
}

input[type="submit"].search-submit {
	padding-left: 1em;
	padding-right: 1em;
}

.p-totop {
	bottom: 30px;
	opacity: 0;
	position: fixed;
	right: 0;
	transition: opacity 0.3s ease 0s;
	z-index: 30;
}

[data-scroll="true"] .p-totop {
	opacity: 1;
}

.p-totop a {
	align-items: center;
	background: #666;
	color: #fff;
	display: flex;
	font-size: 14px;
	height: 42px;
	justify-content: center;
	text-decoration: none;
	width: 42px;
}

.p-footer {
	background: #666;
}

.p-footer__menu {
	padding-bottom: 32px;
	padding-top: 32px;
}

.p-footer-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.p-footer-nav ul li {
	margin-bottom: 4px;
	margin-right: 42px;
}

.p-footer-nav ul li:last-child {
	margin-right: 0;
}

.p-footer-nav ul li a {
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

.p-footer-nav ul li a:hover {
	opacity: 0.6;
}

.p-footer__copy {
	color: #fff;
	font-size: 14px;
	padding: 8px;
}

.p-footer__copy a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-footer__copy a:hover {
	opacity: 0.6;
}

.p-header {
	background: #fff;
	height: 80px;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 20;
}

.p-header__row {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: inherit;
}

.p-header__logo {
	margin-right: auto;
}

.p-header__logo a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-header__logo a:hover {
	opacity: 0.6;
}

.p-header__logo img {
	width: 200px;
}

.p-header__nav ul {
	align-items: center;
	display: flex;
}

.p-header__nav li {
	margin-right: 46px;
}

.p-header__nav li:last-child {
	margin-right: 0;
}

.p-header__nav li > a {
	color: #333;
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-header__nav li > a:hover {
	opacity: 0.6;
}

.p-header__drawer {
	display: none;
}

@media (min-width: 768px) and (max-width: 1179px) {

.hidden-tab {
	display: none;
}

}

@media screen and (min-width: 1180px) {

.hidden-pc {
	display: none;
}

}

@media screen and (max-width: 1179px) {

.p-content--full > .l-inner {
	padding-left: 0;
	padding-right: 0;
}

.l-inner {
	padding-left: 24px;
	padding-right: 24px;
}

}

@media screen and (max-width: 767px) {

.p-content--full > .l-inner {
	padding-left: 0;
	padding-right: 0;
}

.l-primary {
	width: 100%;
}

.l-secondary {
	margin-top: 64px;
	width: 100%;
}

.l-inner {
	padding-left: 16px;
	padding-right: 16px;
}

.c-media__img {
	width: 100%;
}

.c-media__body {
	margin-top: 20px;
	width: 100%;
}

.c-media--horizon01 .c-media__img {
	margin-right: 0;
	width: 100%;
}

.c-media--horizon01 .c-media__body {
	width: 100%;
}

.p-entries__item.p-entries--column-two {
	margin-right: 0;
	width: 100%;
}

.p-entries__item.p-entries--column-two:last-child {
	margin-bottom: 0;
}

.p-entries__item.p-entries--column-three {
	margin-right: 0;
	width: 100%;
}

.p-entries__item.p-entries--column-three:last-child {
	margin-bottom: 0;
}

.p-entries__item.p-entries--column-four {
	margin-right: 0;
	width: 100%;
}

.p-entries__item.p-entries--column-four:last-child {
	margin-bottom: 0;
}

.p-totop a {
	font-size: 12px;
	height: 30px;
	width: 30px;
}

.p-header {
	height: 60px;
}

.p-header__nav {
	display: none;
}

.p-header__drawer {
	display: block;
}

.hidden-sp {
	display: none;
}

}

