.gallery {
}

.gallery-item {
	text-align: center;
	padding: 0 4px;

	a {
		transition: opacity 0.3s ease 0s;

		&:hover {
			opacity: $opacity;
		}
	}
}

.gallery-caption {
	font-size: 14px;
	margin-top: 4px;
}

.gallery-columns-3 {
	display: flex;

	.gallery-item {
		width: 33.33333333%;
	}
}
