.content {
	padding: 0;

	> .inner {
	}
}

.content--full {

	> .inner {
		width: 100%;

		@include mq("tab") {
			padding-left: 0;
			padding-right: 0;
		}

		@include mq("sp") {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.primary {
	width: ($layout-width-main / $layout-width-inner) * 100%;

	@include mq("sp") {
		width: 100%;
	}

	.content--column-one & {
		width: 100%;
	}
}

.secondary {
	width: ($layout-width-side / $layout-width-inner) * 100%;
	margin-left: auto;

	@include mq("sp") {
		width: 100%;
		margin-top: 64px;
	}

	.content--column-one & {
		width: 100%;
		margin-top: 64px;
	}
}
