$cr-form-bd: #ccc;
$cr-form-bd_avtive: #ccc;

$cr-check: #ccc;
$cr-check_active: $cr-m;

$size-checkbox: 26px;
$size-checkbox-pd_left: 30px;

$size-radio: 26px;
$size-radio_active: 10px;
$size-radio-pd_left: 30px;
