.p-breadcrumb {
	font-size: 13px;
	color: #666;
	overflow: auto;

	ul {
		display: flex;

		li {

			a {
				text-decoration: none;
				transition: opacity 0.3s ease 0s;

				&:hover {
					opacity: $opacity;
				}
			}
		}
	}
}

.p-breadcrumb__bridge {
	padding: 0 8px;
}

.p-breadcrumb__current {
}
