.inner {
	margin: 0 auto;
	padding: 80px 0;
	max-width: 100%;
	width: $layout-width-inner;

	@include mq("tab") {
		padding-right: 24px;
		padding-left: 24px;
	}

	@include mq("sp") {
		padding-right: 12px;
		padding-left: 12px;
	}
}

#content {

	> .inner {
		display: flex;

		@include mq("sp") {
			display: block;
		}
	}
}

#primary {
	width: ($layout-width-main / $layout-width-inner) * 100%;

	@include mq("sp") {
		width: 100%;
		margin-bottom: 32px;
	}
}

#secondary {
	width: ($layout-width-side / $layout-width-inner) * 100%;
	margin-left: auto;

	@include mq("sp") {
		width: 100%;
	}
}
