#footer {
	background: #666;

	> .inner {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.copy {
	color: #fff;
	font-size: 14px;
	padding: 8px;

	a {
		text-decoration: none;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity;
		}
	}
}
