.p-header {
	position: relative;
	width: 100%;
	background: #fff;
	top: 0;
	left: 0;
	// box-shadow: 0 1px 3px rgba(#000, 0.16);
	z-index: map-get($layer, "header");
	height: $header-height;

	@include mq("sp") {
		height: $header-height-sp;
	}
}

.p-header__row {
	display: flex;
	flex-wrap: wrap;
	height: inherit;
	align-items: center;
}

.p-header__logo {
	margin-right: auto;

	a {
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity;
		}
	}

	img {
		width: 200px;
	}
}

.p-header__nav {

	@include mq("sp") {
		display: none;
	}

	ul {
		display: flex;
		align-items: center;
	}

	li {
		margin-right: 46px;

		&:last-child {
			margin-right: 0;
		}

		> a {
			text-decoration: none;
			color: $cr-txt;
			display: block;
			transition: all 0.3s ease 0s;

			&:hover {
				opacity: $opacity;
			}
		}
	}
}

.p-header__drawer {
	display: none;

	@include mq("sp") {
		display: block;
	}
}
